<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toffee - Your Budget Manager</title>
    <link rel="stylesheet" href="./css/homepage.css" />

    <link rel="shortcut icon" href="./assets/logo.svg" type="image/x-icon" />
    <script src="https://unpkg.com/phosphor-icons"></script>
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
  </head>
  <body>
    <nav>
      <div class="nav-contain">
        <img src="./assets/logotext.svg" />
        <div
          class="cta"
          onclick="location.href='https://t.me/Tofee_Isy_Bot';"
          style="cursor: pointer"
        >
          get toffee
        </div>
      </div>
    </nav>
    <div class="spacing"></div>
    <div class="body-contain">
      <h1>
        Manage your expenses super easily, using
        <span id="toffee">toffee</span>.
      </h1>
      <h3>
        It's as simple as chatting with your favourite buddies on telegram.
      </h3>
      <div
        class="cta"
        id="cta"
        onclick="location.href='https://t.me/Tofee_Isy_Bot';"
        style="cursor: pointer"
      >
        get toffee
      </div>
      <div class="hero">
        <img src="./assets/heroweb.png" />
      </div>
      <div class="footer">
        Made with ❤ and sleep-deprivation by Garmit Pant, Ishika Joshi, Prakhar
        Prasad, Ritvik Budhiraja, Sachleen Kaur and Shrivatsa Mishra
      </div>
    </div>
     
  </body>
</html>
